<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    h1,h2,th{
        text-align: center;
        color: white;
        background-color: #9fdefc;
    }
    p,form{
        text-align: center;
        color: white;
    }
    .img-circle{
        border-radius: 50%;
    }
</style>
<body style="background-color: #fdd2d6">
<content>
    <div class="container">
        <h1>CURRICULUM VITAE</h1>
        <section name="pic-bio">
            <p>
                <img class="img-circle" src="http://68.media.tumblr.com/03bc1391ba02f6d28e785ac07634c8dd/tumblr_osv6qs2HUp1uatfiro2_400.png" alt="PICT">
            </p>
        </section>
        <section name="bio">
            <h2>BASIC INFORMATION</h2>
            <p>
            <p>Tyagita Larasati</p>
            <p>Jakarta, 10th December 1998</p>
            </p>
        </section>
        <section name="record">
            <h2>EDUCATION HISTORY</h2>
            <p>
            <p>SD Negeri 03 Pagi</p>
            <p>SDIT Daarul Fikri</p>
            <p>SMP Negeri 1 Jambi</p>
            <p>SMA Negeri 2 Depok</p>
            <p>Universitas Indonesia</p>
            </p>
        </section>
        <section name="about_me">
            <h2>ABOUT ME</h2>
            <P>I love everything about food</P>
        </section>
    </div>
</content>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
